<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.sense_os.app"
    android:versionName="2.1.1b2 RDAMCS"
    android:versionCode="20110915">

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <!-- implied by permission PROCESS OUTGOING_CALLS, but not required -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <!-- implied by permission CAMERA, but not required -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="7" />

    <!-- we support all screen sizes by default, thanks to SDK version >= 4 -->
    <!-- <supports-screens -->
    <!-- android:smallScreens="true" -->
    <!-- android:normalScreens="true" -->
    <!-- android:largeScreens="true" -->
    <!-- android:anyDensity="true" /> -->


    <application
        android:label="@string/sense_app_name"
        android:icon="@drawable/ic_launcher_sense"
        android:debuggable="true">

        <activity
            android:launchMode="singleInstance"
            android:configChanges="orientation"
            android:name="SenseApp"
            android:theme="@android:style/Theme.Light"
            android:process="nl.sense_os.app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.SenseApp" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:configChanges="orientation"
            android:name="SenseSettings"
            android:process="nl.sense_os.app">
            <intent-filter>
                <action android:name="nl.sense_os.platform.SenseSettings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="nl.sense_os.service.SenseService"
            android:process="nl.sense_os.service">
            <intent-filter>
                <action android:name="nl.sense_os.platform.SenseService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="nl.sense_os.service.MsgHandler"
            android:process="nl.sense_os.msgs">
            <intent-filter>
                <action android:name="nl.sense_os.platform.MsgHandler.NEW_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.MsgHandler.SEND_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="nl.sense_os.service.feedback.FeedbackChecker"
            android:process="nl.sense_os.service">
            <intent-filter>
                <action android:name="nl.sense_os.platform.FeedbackCheck" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service android:name="nl.sense_os.service.states.EpiStateMonitor"></service>

        <receiver
            android:name="nl.sense_os.service.BootRx"
            android:process="nl.sense_os.service">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="nl.sense_os.service.AliveChecker"
            android:process="nl.sense_os.service.alivechecker">
            <intent-filter>
                <action android:name="nl.sense_os.platform.AliveCheck" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- <receiver -->
        <!-- android:name="nl.sense_os.service.feedback.FeedbackRx" -->
        <!-- android:process="nl.sense_os.service"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="@string/action_sense_feedback_check_alarm" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <receiver
            android:name="nl.sense_os.service.DataTransmitter"
            android:process="nl.sense_os.service.datatransmitter">
            <intent-filter>
                <action android:name="nl.sense_os.platform.DataTransmit" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".appwidget.SenseWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>            
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
        </receiver>
        
        <service android:name=".appwidget.SenseWidgetUpdater">
            <intent-filter>
                <action android:name="nl.sense_os.app.AppWidgetUpdate" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.app.StartPhoneState" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.app.StopPhoneState" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.app.StartLocation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.app.StopLocation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.app.StartMotion" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.app.StopMotion" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.app.StartAmbience" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.app.StopAmbience" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.app.StartDevices" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.app.StopDevices" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider
            android:name="nl.sense_os.service.provider.SensorDataProvider"
            android:exported="true"
            android:authorities="nl.sense_os.platform.provider.LocalStorage" />

    </application>

</manifest>