<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.sense_os.app"
    android:versionCode="20120106"
    android:versionName="2.4.0 unstable" >

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <!-- implied by permission PROCESS OUTGOING_CALLS, but not required -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <!-- implied by permission CAMERA, but not required -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- implied by permission NFC, but not required -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />

    <!-- we support all screen sizes by default, thanks to SDK version >= 4 -->
    <!-- <supports-screens -->
    <!-- android:smallScreens="true" -->
    <!-- android:normalScreens="true" -->
    <!-- android:largeScreens="true" -->
    <!-- android:anyDensity="true" /> -->

    <application
        android:icon="@drawable/ic_launcher_sense"
        android:label="@string/sense_app_name"
        android:logo="@drawable/ic_logo_sense" >

        <!-- COMPONENTS OF SENSE PLATFORM FRONT-END -->
        <activity
            android:name="SenseApp"
            android:configChanges="orientation"
            android:label="@string/sense_app_label"
            android:theme="@style/Sense.Rings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.SenseApp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Sense.Dialog" />
        <activity
            android:name=".register.RegisterActivity"
            android:theme="@style/Sense.Dialog" />
        <activity
            android:name="SenseSettings"
            android:configChanges="orientation"
            android:label="@string/sense_app_label"
            android:theme="@style/Sense.Prefs" >
            <intent-filter>
                <action android:name="nl.sense_os.platform.SenseSettings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".appwidget.SenseWidgetUpdater" >
            <intent-filter>
                <action android:name="nl.sense_os.platform.AppWidgetUpdate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.StartPhoneState" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.StopPhoneState" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.StartLocation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.StopLocation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.StartMotion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.StopMotion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.StartAmbience" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.StopAmbience" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.StartDevices" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.StopDevices" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- COMPONENTS OF GENERIC SENSE PLATFORM -->
        <service
            android:name="nl.sense_os.service.SenseService"
            android:process="nl.sense_os.service" >
            <intent-filter>
                <action android:name="nl.sense_os.platform.SenseService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="nl.sense_os.service.MsgHandler"
            android:process="nl.sense_os.msgs" >
            <intent-filter>
                <action android:name="nl.sense_os.platform.MsgHandler.NEW_DATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="nl.sense_os.platform.MsgHandler.SEND_DATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="nl.sense_os.service.states.EpiStateMonitor" >
        </service>

        <activity
            android:name="nl.sense_os.service.deviceprox.NfcScan"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc" />
        </activity>

        <receiver
            android:name="nl.sense_os.service.BootRx"
            android:process="nl.sense_os.service.monitoring" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="nl.sense_os.service.AliveChecker"
            android:process="nl.sense_os.service.monitoring" >
            <intent-filter>
                <action android:name="nl.sense_os.platform.AliveCheck" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="nl.sense_os.service.NetworkMonitor"
            android:process="nl.sense_os.service" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="nl.sense_os.service.DataTransmitter"
            android:process="nl.sense_os.service.datatransmitter" >
            <intent-filter>
                <action android:name="nl.sense_os.platform.DataTransmit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".appwidget.SenseWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
        </receiver>

        <provider
            android:name="nl.sense_os.service.provider.SensorDataProvider"
            android:authorities="nl.sense_os.platform.provider.LocalStorage"
            android:exported="true" />
    </application>

</manifest>